- commit = @repository.commit(tag.dereferenced_target)
- release = @releases.find { |release| release.tag == tag.name }
%li.flex-row
  .row-main-content.str-truncated
    = link_to namespace_project_tag_path(@project.namespace, @project, tag.name) do
      %span.item-title
        = icon('tag')
        = tag.name

    - if protected_tag?(@project, tag)
      %span.label.label-success
        protected

    - if tag.message.present?
      &nbsp;
      = strip_gpg_signature(tag.message)

    - if commit
      .block-truncated
        = render 'projects/branches/commit', commit: commit, project: @project
    - else
      %p
        无法找到该标签的 HEAD 提交
    - if release && release.description.present?
      .description.prepend-top-default
        .wiki
          = markdown_field(release, :description)

  .row-fixed-content.controls
    = render 'projects/buttons/download', project: @project, ref: tag.name, pipeline: @tags_pipelines[tag.name]

    - if can?(current_user, :push_code, @project)
      = link_to edit_namespace_project_tag_release_path(@project.namespace, @project, tag.name), class: 'btn has-tooltip', title: "编辑发布备注", data: { container: "body" } do
        = icon("pencil")

    - if can?(current_user, :admin_project, @project)
      = link_to namespace_project_tag_path(@project.namespace, @project, tag.name), class: "btn btn-remove remove-row has-tooltip #{protected_tag?(@project, tag) ? 'disabled' : ''}", title: "删除标签", method: :delete, data: { confirm: "删除标签 '#{tag.name}' 无法恢复。确认继续吗？", container: 'body' }, remote: true do
        = icon("trash-o")
